.cm-s-sn3Wiki.CodeMirror { color: #6E6E6E; font-family:arial; }
.cm-s-sn3Wiki .cm-header {color: #708;}
.cm-s-sn3Wiki .cm-quote {color: #090;}
.cm-s-sn3Wiki .cm-negative {color: #d44;}
.cm-s-sn3Wiki .cm-positive {color: #292;}
.cm-s-sn3Wiki .cm-header, {font-weight: bold;}
.cm-s-sn3Wiki .cm-em {font-style: italic;}
.cm-s-sn3Wiki .cm-link {text-decoration: underline;}
.cm-s-sn3Wiki .cm-strikethrough {text-decoration: line-through;}

.cm-s-sn3Wiki .cm-keyword {color: #708;font-weight: bold;}
.cm-s-sn3Wiki .cm-atom {color: #219;}
.cm-s-sn3Wiki .cm-number {color: #164;font-weight: bold;font-style: italic;}
.cm-s-sn3Wiki .cm-def {color: #00f;}
.cm-s-sn3Wiki .cm-variable,
.cm-s-sn3Wiki .cm-punctuation,
.cm-s-sn3Wiki .cm-property,
.cm-s-sn3Wiki .cm-operator {}
.cm-s-sn3Wiki .cm-variable-2 {color: #05a;}
.cm-s-sn3Wiki .cm-variable-3 {color: #085;}
.cm-s-sn3Wiki .cm-comment {color: #a50;}
.cm-s-sn3Wiki .cm-string {color: #a11;}
.cm-s-sn3Wiki .cm-stringhd {color: red;font-weight: bold;cursor:pointer}
.cm-s-sn3Wiki .cm-brace {color: #170;}
.cm-s-sn3Wiki .cm-string-2 {color: #f50;font-weight: bold;font-style: italic;}
.cm-s-sn3Wiki .cm-meta {color: #555;}
.cm-s-sn3Wiki .cm-qualifier {color: #555;}
.cm-s-sn3Wiki .cm-builtin {color: #30a;}
.cm-s-sn3Wiki .cm-bracket {color: #997;}
.cm-s-sn3Wiki .cm-tag {color: #170;}
.cm-s-sn3Wiki .cm-attribute {color: #00c;}
.cm-s-sn3Wiki .cm-hr {color: #999;}
.cm-s-sn3Wiki .cm-link {color: #00c;cursor:pointer}
.cm-s-sn3Wiki .cm-strong {color:#666666;background-color:#d7d4f0}

.cm-s-sn3Wiki .cm-error {color: #f00;background-color:#D9D9D9}
.cm-s-sn3Wiki .cm-invalidchar {color: #f00;}

.cm-s-sn3Wiki  .CodeMirror-composing { border-bottom: 2px solid; }
